body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.train-page {
  text-align: center;
  padding: 80px;
}

.result-page {
  text-align: center;
  padding: 80px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #222;
  padding: 30px;
  border-radius: 12px;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #000;
  padding: 30px;
}

.dashboard-content {
  flex: 1;
  padding: 50px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  background: #222;
  height: 200px;
  border-radius: 12px;
}
